.rocklist{
    height: 500px;
    width: 100%;
    min-width: 500px;
    overflow:hidden;
}

.inputbox-route{
    padding-left: 62px
}

.inputbox-state{
    padding-left: 110px
}

.inputbox-grading{
    padding-left: 120px
}

@media (max-width: 768px) {
    .filterbar { 
        flex-direction: column; 
        padding-right: 100%;
        padding-left: 0%;
        padding-top: 2%;
     } 
     
     .inputbox-route{
        padding-left: 0px;
    }
    
    .inputbox-state{
        padding-left: 7.3%;
    }
    
    .inputbox-grading{
        padding-left: 7.3%;
    }
   } 

   @media (min-width: 768px) { 
   .filterbar {
        flex-direction: row;
        padding-top: 2%; 
     } 
     .inputbox-route{
        padding-left: 4.2%;
    }
    
    .inputbox-state{
        padding-left:8%;
    }
    
    .inputbox-grading{
        padding-left: 8%;
    }
   }